# Application Configuration
NODE_ENV=development
APP_NAME="NestJS Trello API"
APP_PORT=3000
API_PREFIX=api/v1

# Security / Authentication
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION_TIME=1d

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trello"
